@import "../../../../assets/styles/abstracts/variables";

.page-component {
  max-width: 160rem;
  margin: 4rem auto;
  padding: 0 3rem;

  &__title-container {
    font-size: 2.5rem;
  }

  &__title {
    margin-bottom: 0.6rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}
