@import "../../../assets/styles/abstracts/variables";

.section-info {
  &__title {
    padding: 1.5rem 0;
    font-size: 1.7rem;
    font-weight: 500;

    &-container {
      margin: 3rem;
      border-bottom: 0.1rem solid $CL_6_GREY;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
}
