@import "../assets/styles/abstracts/variables";
@import "../assets/styles/base/reset";

body {
  font-family: $FONT-FAMILY;
  background: $CL_2_GREY;
  color: $CL_3_GREY;
}

.app {
  &__container {
    display: flex;
  }

  &__content {
    width: 100%;
    margin: 3rem;
    font-size: 1.7rem;
  }
}
