@import "../../../../assets/styles/abstracts/variables";

.profile {
  &__main-info {
    display: flex;
    align-items: flex-end;
    gap: 3rem;

    &-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__avatar {
    width: 20rem;
    height: auto;
  }

  &__stats {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;

    &-container {
      margin: 0 auto;
    }
  }

  &__report {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $BLUE;
    font-weight: 700;
    border: 0.1rem solid $CL_6_GREY;
    border-radius: 0.6rem;
    width: 11rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.1s;

    &:hover {
      background: $CL_5_GREY;
    }
  }

  &__icon {
    &-likes {
      fill: $RED;
      width: 2rem;
      height: 2rem;
    }

    &-comments,
    &-report {
      fill: $BLUE;
      width: 2rem;
      height: 2rem;
    }
  }

  &__category {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  &__username {
    font-size: 6rem;
  }

  &__posts {
    margin-top: 5rem;
  }

  &__post-item {
    margin: 1rem 0;
  }
}
