@import "../../../../assets/styles/abstracts/variables";

.profile {
  &__send-photo {
    color: grey;
    transition: 200ms color;

    &__form {
      padding: 1em;
      margin: 1em;
    }

    & input[type="file"] {
      outline: 0;
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }

    &-label {
      width: 120px;
      border: 2px dashed grey;
      border-radius: 5px;
      display: block;
      padding: 1.2em;
      transition: border 300ms ease;
      cursor: pointer;
      text-align: center;

      &:hover {
        border: 2px solid #000;
      }

      & i {
        display: block;
        font-size: 42px;
        padding-bottom: 16px;
        color: grey;
        transition: 200ms color;
      }
    }
  }

  &__avatar {
    &-container {
      position: relative;
      //width: 50%;
      display: flex;
      justify-content: center;
      height: 20rem;

      &:hover .profile__avatar-image {
        opacity: 0;
      }

      &:hover .profile__avatar-overlay {
        opacity: 1;
      }
    }

    &-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: 0.5s ease;
    }

    &-button {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  &__main-info {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
    margin-top: 3.2rem;

    &-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__avatar-image {
    width: 20rem;
    height: auto;
    transition: 0.5s ease;
  }

  &__stats {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;

    &-container {
      margin: 0 auto;
    }
  }

  &__report {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $BLUE;
    font-weight: 700;
    border: 0.1rem solid $CL_6_GREY;
    border-radius: 0.6rem;
    width: 11rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.1s;

    &:hover {
      background: $CL_5_GREY;
    }
  }

  &__icon {
    &-likes {
      fill: $RED;
      width: 2rem;
      height: 2rem;
    }

    &-comments,
    &-report {
      fill: $BLUE;
      width: 2rem;
      height: 2rem;
    }
  }

  &__category {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  &__username {
    font-size: 6rem;
  }

  &__posts {
    margin-top: 5rem;
  }

  &__post-item {
    margin: 1rem 0;
  }
}
