@import "../../../assets/styles/abstracts/variables";

.logo {
  &__link {
    color: $BLACK;
    text-decoration: none;
    transition: 0.1s;
    display: flex;
    align-items: center;
    gap: 0.7rem;

    &:hover {
      color: $RED;
      fill: $RED;
      stroke: $RED;
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
