@import "../../../../assets/styles/abstracts/variables";

.button {
  background: $RED;
  border: none;
  color: $WHITE;
  border-radius: 0.6rem;
  height: 2.8rem;
  padding: 0 1.2rem;
  cursor: pointer;
  outline: none;
  font-family: $FONT_FAMILY;
  border: 0.2rem solid transparent;
  transition: 0.2s;
  font-weight: 500;

  &:hover {
    background: none;
    border: 0.2rem solid $RED;
    color: $RED;
  }
}