@import '../../../../assets/styles/abstracts/variables';

.category-item {
  background: #f2f2f7;
  border-radius: 1.5rem;
  height: 4.5rem;
  color: $RED;
  stroke: $RED;
  fill: $RED;
  display: flex;
  align-items: center;
  justify-content: center;
 // max-width: 100%;
  width: 14rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    background: $CL_6_GREY;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  &__icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
