@import "../../../assets/styles/abstracts/variables";

.header {
  position: sticky;
  top: 0;
  padding: 1rem 3rem;
  margin: 0 auto;
  max-width: 160rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 3;

  &__user {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
