@import "../../../../assets/styles/abstracts/variables";

.admin-panel {
  &__container {
    display: flex;
  }

  &__nav {
    margin-left: 3rem;

    &-list {
      list-style-type: none;
      width: 15vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 1.5rem;
    }

    &-item {
      padding: 1rem 2rem;
      border-radius: 0.6rem;
      border: 0.1rem solid $CL_1_GREY;
      text-decoration: none;
      color: $BLACK;
      transition: background 0.1s;
      display: grid;
      grid-template-columns: 0.2fr 2.5fr;
      text-align: start;
      gap: 3vw;
      align-items: center;
      fill: $RED;

      &-icon {
        width: 2rem;
        height: 2rem;
      }

      &:hover {
        background: $CL_2_GREY;
      }

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }

  &__content {
    margin: 0 5rem;
    width: 100%;
  }

  &__user-item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
