@import '../../../assets/styles/abstracts/variables';

.detail-item {
  &__background {
    position: relative;

    &-image {
      width: 100%;
      height: 50vh;
      object-fit: cover;
    }
  }

  &__title {
    position: absolute;
    bottom: 3vw;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $WHITE;
    font-size: 4rem;
    text-align: center;
  }
}
