@import '../../../../assets/styles/abstracts/variables';

.nav-page-item {
  &__nav {
    margin-left: 3rem;

    &-item {
      padding: 1rem 2rem;
      border-radius: 0.6rem;
      border: 0.1rem solid $CL_1_GREY;
      text-decoration: none;
      color: $BLACK;
      transition: background 0.1s;
      display: grid;
      grid-template-columns: 0.2fr 2.5fr;
      text-align: start;
      gap: 3vw;
      align-items: center;
      fill: $RED;

      &-icon {
        width: 2rem;
        height: 2rem;
      }

      &:hover {
        background: $CL_2_GREY;
      }

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}