@import '../../../../assets/styles/abstracts/variables';

.chat-user {
  border-radius: 0.6rem;
  text-decoration: none;
  color: $BLACK;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  
  &:hover {
    background: $CL_6_GREY;
  }

  &__name {
    display: none;
  }
}