$FONT_FAMILY: "Roboto";

$WHITE: #fff;
$BLACK: #0d0d0d;
$CL_2_BLACK: #000;
$BLUE: #1da1f2;
$CL_2_BLUE: #06c;
$CL_1_GREY: #d2d2d2;
$CL_2_GREY: #fafafa;
$CL_3_GREY: #2e2e2e;
$CL_4_GREY: #161616;
$CL_5_GREY: #f9f9f9;
$CL_6_GREY: #e0e0e0;
$CL_7_GREY: #e6e6e7;
$CL_8_GREY: #808080;
$CL_9_GREY: #d9d9d9;
$CL_10_GREY: #c4c4c6;
$CL_11_GREY: rgba(0, 0, 0, 0.95);
$CL_12_GREY: rgba(60, 60, 67, 0.6);
$CL_13_GREY: #fbfbfb;
$RED: #fa233b;
$PINK: #fa7987;