@import "../../../assets/styles/abstracts/variables";

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  grid-template-columns: 20rem;
  display: grid;
  grid-template-rows: 6.5rem 0fr;
  padding: 0 3rem;
  align-items: center;
  background: $CL_5_GREY;
  border-right: 0.1rem solid $CL_6_GREY;

  &__search {
    margin-bottom: 2.5rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__nav-link {
    transition: 0.1s;
    padding: 0.7rem;
    margin: 0.3rem 0;
    color: $BLACK;
    text-decoration: none;

    &-active {
      border-radius: 0.6rem;
      background: $CL_7_GREY;
    }
  }
}
