@import "../../../assets/styles/abstracts/variables";

.support-item {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 1rem;
  padding: 2rem;

  & h3 {
    margin: 1rem 0;
  }

  &__icon-text {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin: 0.5rem 0;
    gap: 1rem;
    fill: $RED;
  }

  &__details {
    margin: 2rem 0 0;
   border: 0.1rem solid $CL_6_GREY;
   border-radius: 0.6rem;
   padding: 0.5rem 1rem 1rem 1rem;
  }
}
