@import "../../../assets/styles/abstracts/variables";

.auth-user-nav {
  position: relative;

  &__avatar {
    cursor: pointer;
  }

  &__list {
    position: absolute;
    left: -6.5rem;
    top: 4rem;
    list-style-type: none;
    width: 15rem;
    box-shadow: 0 1px 2px $CL_8_GREY;
    border-radius: 0.6rem;
    text-align: center;
    font-size: 1.3rem;
    background: $WHITE;

    &-item {
      padding: 0.2rem 0;
      border-radius: 0.5rem;
      transition: background 0.1s;

      &:hover {
        background: $CL_7_GREY;
      }

      &-link {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        fill: $RED;
        color: $BLACK;
        text-decoration: none;
        padding: 0.5rem 1.1rem;
      }
    }
  }
}
